.main{
  display: flex;
  flex-direction: column;

}

.box{
  width : 200px;
  height : 200px;
  color : white;
  background: black;
}

.center{
  align-self : center;
}

.end{
  align-self : flex-end;
}

